/*相同公用的*/
*{margin:0;padding:0}
li,ul{list-style:none;}
a{text-decoration:none}
input{outline:none;padding-left:4px;font-family:"微软雅黑"}
select{font-family:"微软雅黑"}
img{border:0 none;vertical-align:middle;}
em,i{font-style:normal}
body{font-family:"微软雅黑"}
html,body{height:100%;width:100%;overflow:hidden;max-width:640px;margin:0 auto}

/*花和戒指*/
.wish_cort{
    /*background:url(../img/bk.jpg) no-repeat;*/
    position:relative;
    height:100%;
    width:100%;    
    /*background-size:cover;*/
    /*background-position:50% 50%;*/
}
.wish_certificate{
    position:absolute;
    /*margin: 0 auto;*/
    left: 2%;
    top: 8%;
    margin-top: -2rem;
    width:96%;
    font-size:0;
}
.wish_certificate img{
    width:100%;
}
.wish_certificate p{
    position:absolute;
    font-size:0.5rem;
    line-height:1.5em;
    color:#666;
}
.wish_certificate p.qrsrman{
    top: 51.5%;
    left: 32.5%;
    width: 16%;
    text-align:center;
}
.wish_certificate.en p.qrsrman,.wish_certificate.en p.qrsrWoman{
    top: 49.5%;
}
.wish_certificate.en p.qrsrWoman{
    left: 61%;
}
.wish_certificate p.qrsrWoman{
    top: 51.5%;
    left: 65%;
    width: 16%;
    text-align:center;
}
.wish_certificate.en p.qrsrman{
    left: 29.5%;
}
.wish_certificate p.qrsrcode{
    top:70%;
    left:22%;
}
.wish_certificate.en p.qrsrcode{
    top: 68.5%;
}
.wish_certificate p.qrsrdate{
    top:78.5%;
    left:22%;
}
.wish_certificate.en p.qrsrdate{
    top: 77.5%;
}
.wish_cp{position:relative;top:20%}
.wish_flower,.wish_ring{position:absolute;left:50%;-webkit-transform:translate(-50%,-50%);top:50%;opacity:0}
.wish_flower{max-width:443px;z-index:3;width:70%;-webkit-transition:all .3s linear}
.wish_ring{max-width:264px;width:42%;-webkit-transition:all .3s linear;border-radius:100px}
/*文字*/
.wish_word{position:absolute;bottom:0;left:50%;-webkit-transform: translate(-50%,-45%);text-align:center;font-size:28px;color:#754104;width:100%;opacity:0;-webkit-transition:all .4s linear}
.wish_word img{width:65%;max-width:424px}
/*logo*/
.wish_logo{position:absolute;bottom:0%;left:50%;-webkit-transform: translate(-50%,0);width:100%;text-align:center;opacity:0;-webkit-transition:all .4s linear}
.wish_logo img{width:60%;max-width:350px}
/*分享*/
.wish_share{
    position:absolute;
    /*bottom:0%;*/
    bottom: 14%;
    margin-bottom: -3rem;
    width:100%;
    text-align:center;
    /*opacity:0;*/
    /*-webkit-transition:all .4s linear;*/
}
.wish_button{
    margin:0 auto;    
    width:7.54rem;
    max-width:249px;
    height:1.18rem;
    font-size:0.68rem;    
    line-height:1.18rem;
    text-align:center;
    color:#8e4930;
    border:1px solid #8e4930;
}
.share_bk{display:none;background:url(../img/share.png) no-repeat;width:250px;height:56px;line-height:56px;text-align:center;font-size:0;margin-top:-7px;position:absolute;left:50%;-webkit-transform: translate(-50%,0)}
.share_bk a{display:inline-block;margin:0 6px;height:36px;line-height:36px}

.more_cp{
    display:block;
    margin-top:12px;
    font-size:0.56rem;
    color:#000;
}

/*运动事件*/
.start .wish_flower{opacity:1}
.start .wish_ring{opacity:1}
.start .wish_word{opacity:1;bottom:42%}
.start .wish_logo{opacity:1;bottom:30%}
/*.start .wish_share{
    opacity:1;
    bottom:14%
}*/
/*运动延迟*/
.start .delay03{-webkit-transition-delay:0.3s;}
.start .delay06{-webkit-transition-delay:0.6s;}
.start .delay09{-webkit-transition-delay:1s;}
.start .delay12{-webkit-transition-delay:1.5s;}
.start .delay15{-webkit-transition-delay:2s;}


/*全局音频元件*/
.u-globalAudio{color: #fff; text-decoration: none; font-size: 24px; position: fixed; right: 16px; bottom: 16px; display: block; z-index: 9999;}
.u-globalAudio span{position: absolute; left: -60px; top: 10px; text-shadow: 1px 1px 1px #000; letter-spacing: 2px; -webkit-transition: all 0.2s linear; opacity: 0; -webkit-transform: translateX(-20px);}
.u-globalAudio .icon-music{width: 30px; height: 30px; background: url(../img/audio.png) 0px 0px; background-size:100% 100%; display: block;}
.u-globalAudio.z-play .icon-music{-webkit-animation: reverseRotataZ 1.2s linear infinite;}
.u-globalAudio span.z-show{opacity: 1; -webkit-transform: translateX(0px);}
.u-globalAudio span img{width:8px;}
.u-globalAudio .coffee-steam-box{-webkit-transform: translate(-40px, -40px);}
@-webkit-keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@-webkit-keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}
/*全局音频元件 end*/


/*分享*/
.showall{display: none;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
	background: url("../img/shareall.png") no-repeat scroll right top / 100% auto #000;
    opacity: 0.7;
    width: 100%;
}
/* weixin */
.weixin_al{width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1000; display:none}
#mask{ height:400%; width:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); position:absolute; left:0; top:0;display:block; z-index:3; display:none}
.weixin-qcode {z-index: 10035;
display: block;
top: 100px;
border: 1px solid #464646;
text-align: center;
width: 276px;
margin: 0 auto;
margin-top: 30%;}
.qrcodeTitle {height: 40px; line-height: 40px; float: left; width: 250px;}
.qrcodeClose {float: left; height: 40px; line-height: 40px; cursor: pointer;}
#qrcodeTable {background-color:#FFFFFF; padding:10px 0 10px 10px;}